<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      列表
    </ion-title>
    <div class="icon"> 
      <ion-icon name="add-circle-outline" (click)="clickIcon($event)"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div class="tab-header">
    <div [ngClass]="{'select': selectTab === 1}" (click)="changeTab(1)">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>我发布的</ion-label>
    </div>
    <div [ngClass]="{'select': selectTab === 2}" (click)="changeTab(2)">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>我参与的</ion-label>
    </div>
  </div>

  <ion-card *ngIf="selectTab === 1">
      <ng-container *ngFor="let i of messageList">
        <div class="item" (click)="clickItem(i.id)">
          <div class="img">
            <ion-img src="{{i.user[0]?.img}}"></ion-img>
          </div>
          <div class="body">
            <div class="content">
              {{ i.details }}
            </div>
            <div class="sign">
              <div class="sign-item">{{ i.user[0]?.school }}</div>
              <div class="sign-item">{{ i.user[0]?.sex }}</div>
              <div class="sign-item">{{ i.user[0]?.hobby }}</div>
            </div>
          </div>
        </div>
      </ng-container>
      <ion-item *ngIf="messageList.length === 0">你目前没有发布任何活动</ion-item>
  </ion-card>

  <ion-card *ngIf="selectTab === 2">
      <ng-container *ngFor="let i of joinList">
        <div class="item" (click)="clickItem(i.id)">
          <div class="img">
            <ion-img src="{{i.user[0]?.img}}"></ion-img>
          </div>
          <div class="body">
            <div class="content">
              {{ i.details }}
            </div>
            <div class="sign">
              <div class="sign-item">{{ i.user[0]?.school }}</div>
              <div class="sign-item">{{ i.user[0]?.sex }}</div>
              <div class="sign-item">{{ i.user[0]?.hobby }}</div>
            </div>
          </div>
        </div>
      </ng-container>
      <ion-item *ngIf="joinList.length === 0">你目前没有参与任何活动</ion-item>
  </ion-card>

</ion-content>